<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="images/zyro-image.png" alt="ahmad-syafii" class="img-thumbnil rounded-circle" width="200" >
            <h1 class="display-4">Ahmad Syafii</h1>
            <p class="lead">BackEnd Dev | Writer</p>
        </div>
    </div>
</div>