<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
     <h3>Links</h3>
     <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/product/10"></a>Product</li>
     </ul>
     <!-- <% const name = 'Ahmad Syafii | Computer Science' %> -->
     <h2>Hallo <%= name %></h2>
     <h4>Daftar Mahasiswa</h4>

     <% if (mahasiswa.length < 1) { %>
      <p>Data mahasiswa kosong</p>
     <% } %>
    <% mahasiswa.forEach(mhs => { %>
     <ul>
        <li>Nama: <%= mhs.name %></li>
        <li>Email: <%= mhs.email %></li>
     </ul>
    <% }) %>
</body>
</html>